<header>
  <a href="#">
    <img class="logo" src="images/logo.webp" alt="" />
  </a>
  
  <ul>
    <div id="weather-menu">

  </div>
    <li><a href="#">Argentina</a></li>
    <li><a href="#">United States</a></li>
    <li><a href="#">Uruguay</a></li>
    <li><a href="#">World</a></li>
  </ul>
  <form class="search-bar" action="/search" method="get">
    <input
      type="search"
      name="q"
      placeholder="search ..."
      aria-label="search"
    />
    <button type="submit">
      <img src="images/icons/search.svg" alt="search" />
    </button>
  </form>

  <button class="ham-button hide">
    <img class="ham-icon" src="images/icons/menu.svg" alt="menu" />
    <img class="close-icon" src="images/icons/cross.svg" alt="close" style="display: none;" />
  </button>
</header>
