<header>
  <a href="#">
    <img class="logo" src="src/public/images/logo.webp" alt="" />
  </a>
  <ul>
    <li><a href="#">Argentina</a></li>
    <li><a href="#">United States</a></li>
    <li><a href="#">Uruguay</a></li>
    <li><a href="#">World</a></li>
  </ul>
  <form class="search-bar" action="/search" method="get">
    <input
      type="search"
      name="q"
      placeholder="search ..."
      aria-label="search"
    />
    <button type="submit">
      <img src="src/public/images/icons/search.svg" alt="search" />
    </button>
  </form>

  <button class="ham-button hide">
    <img src="src/public/images/icons/menu.svg" />
  </button>
</header>
